<section>
      <div id='login-view'>
        <div id='login-box'>
            <div>
                <i class='close-btn'></i>
            </div>
            <h1>WELCOME BACK!</h1>
            <form action="/" method='POST' id='login-form'> {{!-- Fill in route details && Front end validation --}}
                <input type="text" name='username' placeholder='Username' class='input'>
                <input type="password" name='password' placeholder='Password' class='input'>
                <button type='submit' id='login-btn'>LOGIN</button>
            </form> 
              <p>Not a member yet? <a href='/signup' class='link'>Sign up</a></p>
              <p>Forgot your username or password? <a href='/reset' class='link'>Reset here</a></p>
        </div>
    </div>
</section>