<section class='index-container'>
      <div id='login-view'>
        <div id='login-box'>
            <div class='back-link-box'>
                <a href="/" class='back-link'>Back</a>
            </div>
            <h1 id='welcome'>WELCOME BACK!</h1>
            <form action="/login" method='POST' id='login-form'> 
                <label class='validation-message' id='val-username'>Username does not exist!</label>
                <input type="text" name='username' placeholder='Username' class='input-log' id='username-field'>
                <input type="password" name='password' placeholder='Password' class='input-log'>
                <button type='submit' id='login-btn'>LOGIN</button>
            </form> 
              <p class='signup-link'>Not a member yet? <a href='/signup' class='link'>Sign up</a></p>
              <p class='reset-link'>Forgot your username or password? <a href='/get-reset-link' class='link'>Reset here</a></p>
        </div>
    </div>
</section>