<section class='reset-container'>
     <div id='input-reset-view'>
        <div id='password-reset'>
              <a href="/" class='back-link'>Back</a>
              <h1 class='reset-title'>RESET CREDENTIALS</h1>
              <form action="/" method='POST' id='reset-pw-form'> {{!-- Fill in route details && Front end validation --}}
                <input required type="text" name='username' placeholder='Username' class='input-reset'>
                <input required type="password" name='password' placeholder='New password' class='input-reset'>
                <button type='submit' class='reset-btn' onclick="location.href='/login'"">RESET</button>
            </form> 
        </div>
    </div>
</section>