<section class='reset-container'>
    <div id='send-reset-view'>
        <div class='confirm-box-reset'>
              <div class='back-link-box'>
                <a href="/" class='back-link'>Back</a>
            </div>
              <h1 class='mail-title'>YOU'VE GOT MAIL!</h1>
              <img src="/images/mail.png" alt="mail" id='mail-send-icon'>
              <p class='mail-paraf'> Reset your credentials with the reset link.</p>
               <div class='btn-box'>
                 <button type='button' class='ok-btn' onclick="location.href='/'">OKAY</button> 
            </div>
        </div>
    </div>
</section>