<section class='reset-container'>
     <div id='reset-view'>
        <div id='reset-box'>
            <div>
                <i class='close-btn'></i>
            </div>
             <form action="/" method='POST' id='reset-form'> {{!-- Fill in route details && Front end validation --}}
                <label class='label' for="email">Forgot your username? Fill in your email.</label>
                <input type="email" name='email' placeholder='Email' class='input-reset'>
                <label class='label' for="username">Forgot your password? Fill in your username.</label>
                <input type="username" name='username' placeholder='Username' class='input-reset'>
                <button type='submit' id='send-btn' onclick='popUp(getResetLink, sendResetLink)'>SEND</button>    {{!-- popup! --}}
            </form> 
        </div>
    </div>

    <div id='send-reset-view'>
        <div class='confirm-box'>
            <div>
                <i class='close-btn'></i>
            </div>
              <h1 class='mail-title'>YOU'VE GOT MAIL!</h1>
              <i> {{!-- icon! --}}</i>
              <p class='mail-paraf'> Reset your credentials with the reset link.</p>
               <div class='btn-box'>
                 <button type='button' class='ok-btn' onclick="location.href='/'">OKAY</button> 
            </div>
        </div>
    </div>
</section>