<section class='index-container'>
     <div id='signup-view'>
        <div id='signup-box'>
            <div class='back-link-box'>
                <a href="/" class='back-link'>Back</a>
            </div>
            <h1 id='hi'>HI THERE <br> STRANGER!</h1>
            <form action="/signup" method='POST' id='signup-form'> 
                <label class='validation-message'>Username and/or email already exists!</label>
                <input required type="text" name='firstname' placeholder='Firstname' class='input-sign'>
                <input required type="text" name='lastname' placeholder='Lastname' class='input-sign'>
                <input required type="email" name='email' placeholder='Email' class='input-sign'>
                <input required type="text" name='username' placeholder='Username' class='input-sign'>
                <input required type="password" name='password' placeholder='Password' class='input-sign'>
                <div class='btn-box'>
                     <button type='submit' id='start-btn'>SIGN UP</button> 
                </div>
            </form> 
              <p class='login2'>Already a member? <a href='/login'>Login</a></p>    
        </div>
    </div>
</section>