<section class='index-container'>
     <div id='signup-view'>
        <div id='signup-box'>
            <div>
                <a href='/'><i class='close-btn'></i></a> {{!-- icon! --}}
            </div>
            <h1 id='hi'>HI THERE <br> STRANGER!</h1>
            <form action="/" method='POST' id='signup-form'> {{!-- Fill in route details && Front end validation --}}
                <input type="text" name='firstname' placeholder='Firstname' class='input'>
                <input type="text" name='lastname' placeholder='Lastname' class='input'>
                <input type="email" name='email' placeholder='Email' class='input'>
                <input type="text" name='username' placeholder='Username' class='input'>
                <input type="password" name='password' placeholder='Password' class='input'>
                <div class='btn-box'>
                     <button type='submit' id='start-btn'>START YOUR JOURNEY</button> {{!-- pop-up! --}}
                </div>
            </form> 
              <p class='login2'>Already a member? <a>Login</a></p>    
        </div>
    </div>

    <div id='confirm-signup-view' class='overlay'>
        <div class='confirm-box'>
            <div>
                <i class='close-btn'></i>
            </div>
            <div id='confirm-mail'>
                <h1 id='mail-title'>YOU'VE GOT MAIL!</h1>
                <i> {{!-- icon! --}}</i>
            </div>
              <p id='mail-paraf'>Confirm your email to login.</p>
              <div class='btn-box'>
                 <button type='button' id='ok-btn' onclick="location.href='/login'">OKAY</button> 
            </div>
        </div>
    </div>
</section>