<section class='index-container'>
    <div id='confirm-signup-view' class='overlay'>
        <div class='confirm-box-sign'>
            <div class='confirm-mail'>
                <h1 id='mail-title'>LET THE ADVENTURES BEGIN!</h1>
            </div>
              <img src="/images/sight.png" alt="adventure" id='binoc-icon'>
              <div class='btn-box'>
                 <button type='button' class='ok-btn' onclick="location.href='/login'">YAY</button> 
            </div>
        </div>
    </div>
</section>