<nav>
    <div id='nav-wrapper'>
        <img src="/images/OnTrack-logo.png" alt="logo" id='logo'>
        <div id='dropdown'>
            <button id='hamburger'><img src="/images/hamburger.png" alt="menu" id='hamburger'></button>
            <div id='dropdown-content'>
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/signup">Sign up</a>
                <a href="/" class='hide'>Logout</a>
                <a href="/profile" class='hide'>Profile</a>
                <a href="/explore" class='hide'>Explore</a>
                <a href="/about" id='separate'>About us</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
    </div>
</nav>
