<nav>
    <div id='nav-wrapper'>
        <a href='/' id='logo'></a>
        <div id='dropdown'>
            <button id='hamburger'><img src="/images/hamburger.png" alt="menu"></button>
            <ul id='dropdown-content'>
                <li class='show'><a href="/">Home</a></li>
                <li class='show'><a href="/login">Login</a></li>
                <li class='show'><a href="/signup">Sign up</a></li>
                <li class='hide'><a href="/">Logout</a></li>
                <li class='hide'><a href="/profile">Profile</a></li>
                <li class='hide'><a href="/explore">Explore</a></li>
                <li class='show'><a href="/about" id='separate'>About us</a></li>
                <li class='show'><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
