<section id='about-container'>
    <div id='about-box'>
        <h1 id='about-title'>ABOUT US</h1>
        <p id='about-text'>"Two wanderlust travelers keeping track of their amazing adventures."</p>
        <div id='img-container'>
            <div class='img-box' id='nikola'>
                {{!-- <img src="/images/nikola.jpg" alt="nikola" id='img-nikola'> --}}
            </div>
            <h1>&</h1>
            <div class='img-box' id='rosy'>
                {{!-- <img src="/images/rosy.jpg" alt="rosy" id='img-rosy'> --}}
            </div>
        </div>
        <div id='name-container'>
            <div class='name-box'>
                <h2 class='name'>NIKOLA DU PREEZ</h2>
                <p>Co-founder of OnTrack</p>
            </div>
            <div class='name-box'>
                <h2 class='name'>ROSIRYS QUEZADA</h2>
                <p>Co-founder of OnTrack</p>
            </div>
        </div>
        <div id='copyright-box'>
            <p id='copyright'>Index illustration by yuanyuan</p>
        </div>
    </div>
    <img src="/images/about-back.png" alt="about-img" id='about-img'>
</section>