<section id='contact-container'>
    <h1 id='contact-title'>CONTACT</h1>
    <div id='contact-form-box'>
        <form action="/contact" method='POST'id='contact-form'>
            <input type="text" name='name' placeholder='Name' class='input-contact'>
            <input type="text" name='email' placeholder='Email' class='input-contact'>
            <input type="text" name='note' placeholder='What is on your mind?' class='input-contact' id='note'>
            <button type='submit' id='btn-send'>SEND</button>
        </form>
    </div>
    <div id='address-box'>
        <div id='address'>
            <div class='info'>
                <i>{{!-- icon! --}}</i>
                <p>ontrack@ironhack.com</p>
            </div>
            <div class='info'>
                <i>{{!-- icon! --}}</i>
                <p>+31 65 86 57 04</p>
            </div>
            <div class='info'>
                <i>{{!-- icon! --}}</i>
                <p>Prinsengracht 437 <br>
                    1016 HN, Amsterdam <br>
                    the Netherlands</p>
            </div>
        </div>
        <div id='maps'>
            <div class="gmap_canvas">
                <iframe height='180' id="gmap_canvas" src="https://maps.google.com/maps?q=prinsengracht%20437&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
    </div>

</section>

