<section id='profile-container'>
    <img src="/images/profile-back.png" alt="background" id='profile-back'>
    <div id='country-add-container'>
        <div id='country-add-box'>
            <div class='back-link-box'>
                <a href="/profile" class='back-link'>Back</a>
            </div>
            <h1>ADD COUNTRY</h1>
            <form id='country-form' action='/profile/add-country' method='POST' enctype="multipart/form-data"> 
                <div id='add-file-box'>
                    <input type="file" name='image' id="file"/> 
                    <label for="file" id="add-file">upload image</label>
                </div>
                <select name='countryId' id="countryId">
                    {{#each countries}}
                        <option value="{{this.id}}">{{this.name}}</option> 
                    {{/each}}
                </select>
                <button type='submit' id='edit-btn'>Save</button>
            </form>
        </div>
    </div>
</section>
