<section id='profile-container'>
    <img src="/images/profile-back.png" alt="background" id='profile-back'>
    <div id='country-add-container'>
        <div id='country-add-box'>
            <a href="/profile/{{userInfo._id}}" class='back-link'>Back</a>
            <h1>ADD COUNTRY</h1>
            <form id='country-form' action='/profile/{{userInfo.id}}/add-country' method='POST'> 
                <div id='add-file-box'>
                    <input type="file" name='image' id="file">
                    <label for="file" id='add-file'>Upload image</label>
                </div>
                <select name='country-name' id="countryId">
                    {{#each countries}}
                        <option value="{{this.name}}">{{this.name}}</option> 
                    {{/each}}
                </select>
                <button type='submit' id='edit-btn'>Save</button>
            </form>
        </div>
    </div>
</section>
