<section id='explorer-container'>
    <img src="/images/explore-back.png" alt="explorer-back" id='explorer-back'>
    <div id='explorer-box'>
        <form action="/" method='POST'>
            <input type="text" placeholder='Explore..' id='search-input'>
            <button type='submit' id='search-btn'>GO</button>
        </form>
    </div>
    <div id='map-container'>
    </div>
</section>