<section id='explorer-container'>
    <img src="/images/explore-back.png" alt="explorer-back" id='explorer-back'>
    <div id='explorer-box'>
        <form action="/" method='POST'>
            <input type="text" placeholder='Explore..' id='search-input'>
            <button type='submit' id='search-btn'>GO</button>
        </form>
    </div>
    <div id='map-container'>
    </div>
    {{!-- <div id='country-detail-box'>
        <div id='stamp2'>
        <div id='detail-title'>
            <h1 id='country-detail-name'>Country</h1>
            <button type='button' id='country-close'>Close</button>
        </div>
        <div id='country-travelers-box'></div>
            <p id='travelers-number-paraf'>Number of visitors: <span id='travelers-number'>#</span></p>
            <a href="/travelers" id='see-trav-btn'>See travelers</a>
        </div>
    </div> --}}
</section>