<section id='blog-container'>
     <div id='edit-container'>
         <div id='edit-box'>
            <div id='country-edit-btns'>
                <a href="/profile/country" class='back-link' id='back-link'>Back</a>
            </div>
            <h1>ADD GALLERY</h1>
            <form id='add-gallery-form' action='/' method='POST'> 
                <div id='add-file-box'>
                    <input type="file" name='image' id="file"/> 
                    <label for="file" id="add-file">upload image</label>
                </div>
                <input required type="text" name='blog-title' placeholder='Title' class='input-blog' value=''> 
                <input type="text" name='blog-city' placeholder='City' class='input-blog' value=''> 
                <input type="date" name='blog-date' class='input-blog' value=''> 
                <button type='submit' id='edit-btn'>Add</button>
            </form>
        </div>
    </div>
    <img src="/images/blog-back.png" alt="" id='blog-back'>
</section>
