<section class='index-container'>
    <div id='home-view'>
        <div id='title-box'>
            <h2 id='subtitle'>FIND YOUR INNER</h2>
            <h1 id='title'>Wanderer</h1>
            <p class='paraf mobile' id='paraf1'>Track your journeys, explore the world </p>
            <p class='paraf mobile' id='paraf2'>and follow other travelers</p>
            <p class='paraf tablet' id='paraf1'>Track your journeys, explore the world and follow other travelers</p>
        </div>
        <div id='auth-box'>
            <a href='/signup' class='signup btn'>Sign up</a>  
            <p class='paraf-link'>Already a member? <a class='login link' href='/login'>Login</a></p>     
        </div>
        <p id='copyright'>Illustration &copy; yuanyuan</p>
    </div>
</section>

