<section id='profile-container'>
    <div id='about-user'>
        <div id='profile-img-box'>
            <img src="#" alt="profile-img"> {{!-- Fill in user img --}}
        </div>
        <div id='about-user-box'>
            <div>
                 <h1 id='user-name'>#</h1> {{!-- Fill in user name--}}
                 <a></a> {{!-- Change edit btn --}}
            </div>
            <p id='user-about'>#</p> {{!-- Fill in user bio--}}
        </div>
    </div>
    <div id='jouneys'>
        <h1 id='journey'>Journey</h1>
        <div id='countries-box'>
            {{#each}} {{!-- Fill in country doc--}}
                <div id='country'>
                    <img src="#" alt="country" id='country-img'> {{!-- Fill in country img--}}
                    <div>
                        <h2 id='country-name'>#</h2> {{!-- Fill in country name--}}
                        <h3 id='country-date'>#</h3> {{!-- Fill in date: default is create, changes when updated--}}
                    </div>
                </div>
                <button id='see-btn'>See more</button>
            {{/each}}
        </div>
        <div style="text-align:center" id='gallery-dots'>
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
        <a></a> {{!-- Change add btn --}}
    </div>
</section>

