<section id='travelers-container'>
    <div id='explore-link'>
        <a href="/explorer" id='explore-btn'>Explore more</a>
    </div>
    <div id='travelers-title-box'>
        <h1 id='travelers-title'>Travelers to: '<span>Country</span>'</h1> {{!-- fill in --}}
    </div>
    <div id='travelers-box'>
        {{!-- {{each}} --}}
            <div id='traveler'>
                <div id='thumb'>
                    <img src="/" alt="profile-img" id='profile-thumb'>
                </div>
                <div id='name-location'>
                    <h2 id='name-thumb'>First Lastname</h2>
                    <div id='small-city-box'>
                                <img src="/images/location-pin.png" alt="pin" id='pin-small'>
                                <p id='city-number'>#</p> {{!-- Fill in --}}
                    </div>
                </div>
                <div id='prof-btn-box'>
                    <a href="/profile" id='profile-btn'>Profile</a>
                </div>
            </div>
        {{!-- {{/each}} --}}
    </div>
    <img src="/images/travelers-back.png" alt="travelers-back" id='travelers-back'>
</section>
