@import url('https://fonts.googleapis.com/css?family=Oleo+Script&display=swap');
.index-container {
    width: 100%;
    height: 100vh;
    background-image: url('/images/index-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column; /*remove this later*/
}

/* home */
#home-view { /* merge with other views*/
    width: 90%;
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    /* display: none; remove this later */
}

#title-box, #auth-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#subtitle {   /* inner shadow */
    color: white;
    margin: 0;
    position: relative;
    font-weight: 500;
    font-size: 1.7em;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#title {   /* shadow */
    font-family: 'Oleo Script', cursive;
    font-size: 5em;
    margin: 0;
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.paraf {   /* background */
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 0.9em;
    font-weight: 500;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

#paraf1 {
    margin: 90px 0 0 0;
    width: 100%;
}

#paraf2 {
    margin: 0;
    width: 70%;
}

.paraf-link {   /* shadow */
    color: white;
    font-weight: 600;
    font-size: 0.9em;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#auth-box {
    margin: 300px 0 0 0;
}

.signup { /* merge with other btns*/
    background-color: white;
    width: 150px;
    height: 40px;
    border-radius: 7px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login {   /* shadow */
    color: white;
    text-decoration: underline;
}

