.index-container {
    width: 100%;
    height: 100vh;
    background-image: url('/images/index-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* sign up */
#signup-view {
    width: 90%;
    margin: 30px 0 0 0;
    position: absolute;
    display: flex;
    justify-content: center;
}

#signup-box { /* merge with other boxes*/
    background-color: white;
    border-radius: 10px;
    width: 85%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 500px) {   
    #signup-box {
        width: 384px;
    }
}

.back-link-box {
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

#hi {
    font-weight: 500;
}

#signup-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-sign {
    width: 90%;
    margin: 5px 0;
    padding: 0 0 0 20px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.btn-box {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-btn { /* merge with other btns*/
    width: 80px;
    height: 30px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    font-size: 0.8em;
    font-weight: 500;
}

#start-btn:hover {
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login2 {
    margin: 20px 0;
    font-size: 0.8em;
    font-weight: 500;
}

.login2 a{
    text-decoration: underline;
    color: black;
}

.login2 a:hover {
    font-weight: 700;
}

#confirm-signup-view { /* merge with other views*/
    width: 90%;
    margin: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirm-box-sign { /* merge with other boxes*/
    background-color: white;
    border-radius: 10px;
    width: 85%;
    height: 250px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    transition: all 5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 500px) {   
    .confirm-box-sign {
        width: 384px;
    }
}

#confirm-mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mail-title {
    font-weight: 600;
}

#binoc-icon {
    width: 70px;
    height: 70px;
    margin: 0 0 -20px 0;
}

.ok-btn {
    width: 60px;
    height: 30px;
    background: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    font-size: 0.8em;
    font-weight: 500;
}

.ok-btn:hover {
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overlay:target {
    visibility: visible;
  }
