<section id='blog-container'>
     <div id='edit-container'>
         <div id='edit-box'>
            <div id='country-edit-btns'>
                <a href="/profile/country/{{userCountry.id}}" class='back-link' id='back-link'>Back</a>
            </div>
            <h1>ADD GALLERY</h1>
            <form id='add-gallery-form' action='/profile/country/{{userCountry.id}}/add-gallery' method='POST' enctype ='multipart/form-data'> 
                <div id='add-file-box'>
                    <input required type="file" name='image' id="file"/> 
                    <label for="file" id="add-file">upload image</label>
                </div>
                <input required type="text" name='title' placeholder='Title' class='input-blog'/> 
                <label>City:</label>
                <select name="cityId" id="cityId">
                    {{#each cities}}
                        <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <input type="date" name='date' class='input-blog'/> 
                <button type='submit' id='edit-btn'>Add</button>
            </form>
        </div>
    </div>
    <img src="/images/blog-back.png" alt="" id='blog-back'>
</section>
