<section id='blog-container'>
     <div id='edit-container'>
         <div id='edit-box'>
            <div id='country-edit-btns'>
                <a href="/profile/country/{{userCountry.id}}" class='back-link' id='back-link'>Back</a>
            </div>
            <h1>ADD GALLERY</h1>
            <form id='add-gallery-form' action='/{{userCountry.id}}/gallery-add' method='POST' enctype ='multipart/form-data'> 
                <div id='add-file-box'>
                    <input required type="file" name='image' id="file"/> 
                    <label for="file" id="add-file">upload image</label>
                </div>
                <input required type="text" name='blog-title' placeholder='Title' class='input-blog'> 
                 {{#each cities}}
                       <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
                <input type="date" name='blog-date' class='input-blog'> 
                <button type='submit' id='edit-btn'>Add</button>
            </form>
        </div>
    </div>
    <img src="/images/blog-back.png" alt="" id='blog-back'>
</section>
